// {{.Name}}Diff represents the diff of a {{.Name}} map.
type {{.Name}}Diff struct {
	{{- if .ValueIsStruct}}
	Add    map[{{.KeyType}}]{{.ValueType}}
	Modify map[{{.KeyType}}]{{.ValueDiffType}}
	Del    map[{{.KeyType}}]struct{}
	{{- else}}
	Add map[{{.KeyType}}]{{.ValueType}}
	Del map[{{.KeyType}}]struct{}
	{{- end}}
}

// IsEmpty returns true if no changes have been made.
func (d {{.Name}}Diff) IsEmpty() bool {
	{{- if .ValueIsStruct}}
	return len(d.Add) == 0 && len(d.Modify) == 0 && len(d.Del) == 0
	{{- else}}
	return len(d.Add) == 0 && len(d.Del) == 0
	{{- end}}
}