// {{.Name}}Diff represents the diff of a {{.Name}} struct.
type {{.Name}}Diff struct {
{{- range .Fields}}
	{{.Name}} *struct {
		{{- if eq .Category "basic"}}
		Value {{.Type}}
		{{- else if eq .Category "pointer"}}
		Value {{.Type}}
		{{- else if eq .Category "slice"}}
		Value {{.Type}}
		{{- else if eq .Category "map"}}
		{{- if .ValueIsStruct}}
		Add map[{{.KeyType}}]{{.ValueType}}
		Modify map[{{.KeyType}}]{{.ValueDiffType}}
		Del map[{{.KeyType}}]struct{}
		{{- else}}
		Add map[{{.KeyType}}]{{.ValueType}}
		Del map[{{.KeyType}}]struct{}
		{{- end}}
		{{- else if eq .Category "struct"}}
		Value {{.Type}}Diff
		{{- end}}
	}
{{- end}}
}

