// {{.Name}}Diff represents the diff of a {{.Name}} struct.
type {{.Name}}Diff struct {
{{- range .Fields}}
	{{.Name}} struct {
		{{- if eq .Category "basic"}}
		Value {{.Type}}
		Set   bool
		{{- else if eq .Category "pointer"}}
		Value {{.Type}}
		Set   bool
		{{- else if eq .Category "slice"}}
		Value {{.Type}}
		Set   bool
		{{- else if eq .Category "map"}}
		{{- if .ValueIsStruct}}
		Add map[{{.KeyType}}]{{.ValueType}}
		Modify map[{{.KeyType}}]{{.ValueDiffType}}
		Del map[{{.KeyType}}]struct{}
		Set bool
		{{- else}}
		Add map[{{.KeyType}}]{{.ValueType}}
		Del map[{{.KeyType}}]struct{}
		Set bool
		{{- end}}
		{{- else if eq .Category "struct"}}
		Value {{.Type}}Diff
		Set   bool
		{{- end}}
	}
{{- end}}
}

// IsEmpty returns true if the diff contains no changes.
func (d *{{.Name}}Diff) IsEmpty() bool {
{{- range .Fields}}
	if d.{{.Name}}.Set {
		return false
	}
{{- end}}
	return true
}